.recommendWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 20px 40px;
}
.recommendList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
