@font-face {
  font-family: 'iconfont'; /* Project id 2649892 */
  src: url('iconfont.woff2?t=1697204040912') format('woff2'), url('iconfont.woff?t=1697204040912') format('woff'),
    url('iconfont.ttf?t=1697204040912') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zanting:before {
  content: '\e603';
}

.icon-comment:before {
  content: '\e6aa';
}

.icon-xiayiqu:before {
  content: '\e7ff';
}

.icon-shangyiqu:before {
  content: '\e800';
}

.icon-suijisenlin:before {
  content: '\e60e';
}

.icon-like:before {
  content: '\e649';
}

.icon-24gl-repeatOnce2:before {
  content: '\ea75';
}

.icon-24gf-pause2:before {
  content: '\ea81';
}

.icon-24gf-play:before {
  content: '\ea82';
}

.icon-dot:before {
  content: '\e693';
}

.icon-shunxubofang:before {
  content: '\e604';
}

.icon-add_circle:before {
  content: '\e6b2';
}

.icon-play_circle:before {
  content: '\e725';
}

.icon-delete-circle:before {
  content: '\e612';
}

.icon-iclike:before {
  content: '\e628';
}

.icon-shoucang:before {
  content: '\e611';
}

.icon-qingkong:before {
  content: '\e946';
}

.icon-shanchu:before {
  content: '\e614';
}

.icon-tianjia:before {
  content: '\e606';
}

.icon-xinzeng:before {
  content: '\e6ae';
}

.icon-67:before {
  content: '\e68f';
}

.icon-zhibo-01:before {
  content: '\e631';
}

.icon-pc:before {
  content: '\e609';
}

.icon-ios:before {
  content: '\e60c';
}

.icon-android:before {
  content: '\e616';
}

.icon-jplayer:before {
  content: '\e6c1';
}

.icon-microphone-fill:before {
  content: '\e602';
}

.icon-shipinbofang:before {
  content: '\e601';
}

.icon-search:before {
  content: '\e648';
}

.icon-play:before {
  content: '\e600';
}

.icon-plussign:before {
  content: '\e75a';
}

.icon-up:before {
  content: '\e6e0';
}

.icon-plus:before {
  content: '\e74b';
}

.icon-next:before {
  content: '\e610';
}

.icon-arrowdown:before {
  content: '\e692';
}

.icon-download:before {
  content: '\e6a5';
}

.icon-user:before {
  content: '\e66f';
}

.icon-list:before {
  content: '\e6a3';
}

.icon-MINUS:before {
  content: '\e710';
}

.icon-pinglun:before {
  content: '\e891';
}

.icon-plus-square:before {
  content: '\e797';
}

.icon-user1:before {
  content: '\e7ae';
}

.icon-play-filling:before {
  content: '\e87e';
}

.icon-pausecircle-fill:before {
  content: '\e7cb';
}

.icon-angle-double-down:before {
  content: '\e848';
}

.icon-write:before {
  content: '\e672';
}

.icon-minus:before {
  content: '\e66d';
}

.icon-up1:before {
  content: '\e686';
}

.icon-pause:before {
  content: '\e630';
}

.icon-prev:before {
  content: '\e613';
}

.icon-icon-test:before {
  content: '\e62b';
}

.icon-musical:before {
  content: '\e60b';
}

.icon-yinle:before {
  content: '\e623';
}
